.simple-tree {

	ul {
		list-style: none;
		display: none;
		margin: 2px 0 0 18px;
		padding: 0;

		&.tree {
			display: block;
			margin: 0;
		}
	}

	.node {
		margin: 0 0 2px 0;

		a {
			color: #666666;
			text-decoration: none;
			line-height: 22px;

			&:hover {
				color: #999999;
			}
		}

		.toggle {
			width: 16px;
			padding-right: 4px;
			font-size: 16px;
			text-align: center;
		}

		.name {
			font-size: 14px;
		}

		&.leaf {
			margin-left: 20px;
		}

		&.selected > .name {
			color: #000000;
			font-weight: bold;
		}
	}
}
