.simple-tree {
  &, .tree {
    list-style: none;
    margin: 0 0 0 24px;
    padding: 0;
  }

  .folder {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    line-height: 24px;
    color: #4298ba;

    .fa {
      width: 16px;
      font-size: 16px;
    }

    .name {
      margin-left: 4px;
      font-size: 14px;
    }

    &.empty .fa { margin-left: 20px; }
    &.selected .name { color: #333; }
  }
}
